.App-IdCard {
  display: flex;
  flex-direction: row;
  width: 50%;
  border: 2px solid black;
  margin-bottom: 20px;
  align-items: center;
}

.App-IdCard img {
  width: 128px;
  height: 128px;
  margin: 5px;
}

.App-IdCard-text {
  margin-left: 20px;
}

.App-IdCard-text span {
  font-weight: bolder;
}
