.greetings{
    border: 1em;
    box-sizing: border-box;
    width: 100%;
    border: solid #5B6DCD 5px;
    padding: 5px;
    margin: 5px;
    flex: auto;
    display: flex;
    flex-direction: row;
}