
.App {
  margin-left: 10px;
}

.IdCard {
  display: flex;
}

.right {
  display: flex;
  flex-direction: column;
}

.right li {
  list-style-type: none;
}

.box {
  padding: 10px;
  margin-bottom: 10px;
  border: solid 1px black;
}