.id-card {
  border: 1px solid black;
  display: block;
  margin-bottom: 3px;
}

.avatar {
  display: inline-block;
  width: 20%;
  margin: 2px 2px 0 2px;
}

.id-data {
  display: inline-block;
  width: 60%;
  font-size: 0.2em;
}